@import "src/index";

.wrap{
  padding-top: 0;
}
.landing {
  font-family: Play, sans-serif;
  font-weight: 700;
  color: var(--text-main);
  font-size: 60px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;

  @media (max-width: 1023px) {
    height: 75vh;

    &>div:first-child{
      margin-top: auto;
    }
  }
}

.arrow-down {
  background: transparent;
  border: none;
  margin-top: auto;
  margin-bottom: 0;
  align-self: flex-start;

  svg{
    circle {
      fill: var(--text-main);
    }

    path {
      fill: var(--background);
    }
  }

  @media (min-width: 1024px) {
    display: none;
  }
}

.code {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: var(--text-main);

  @media (max-width: 1023px) {
    font-size: 20px;
  }
}
