@import "src/index";

.landing{
  font-family: Play, sans-serif;
  font-weight: 700;
  color: var(--text-main);
  font-size: 60px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap:20px;
}

.code{
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: var(--text-main);

}
