.nav-panel{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  right: 50px;
  top: 40%;
}

.wrap{
  position: relative;
}

.nav-item {
  scroll-behavior: smooth;
  color: transparent;
  font-family: Play, sans-serif;
  -webkit-text-stroke: 1px var(--text-main);
  font-size: 50px;

  background-color: transparent;
  border: transparent;

  cursor: pointer;
  transition: 0.15s ease-in;

  &:hover{
    color: var(--text-main);
  }
}