//@import "src/index.scss";

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: var(--text-main);
    font-weight: 900;
    font-size: 35px;
}

.left-tab{
    display: flex;
    align-items: center;
    gap: 18px;
    color: var(--text-main);

    & > svg{
        stroke: var(--text-main);
    }

    .theme-button{
        cursor: pointer;
        color: var(--text-main);
        background: transparent;
        border: 1px solid transparent;
        width: 33px;
    }
}

.toggle-wrap{
    display: flex;
    gap: 2px;
}

.toggle-button{
    font-weight: 500;
    cursor: pointer;
    font-size: 20px;
    width: 64px;
    height: 36px;
    border-radius: 50px;
    background: transparent;
    color: var(--text-main);
    border: 1px solid transparent;
    transition: background-color ease-in 0.25s;

    &:hover{
        border: 1px solid var(--text-main);
    }

    &:active, &.selected{
        color: var(--background);
        background-color: var(--text-main) ;
    }

    @media (max-width: 576px) {
        font-size: 15px;
        width: 60px;
        height: 30px;
    }
}