.App{
    padding: 40px 50px
}

.content-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chapter{
    min-height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}