.App{
    padding: 40px 50px;
    color: var(--text-main);
    font-family: Play, sans-serif;
}

@media (max-width: 1024px) {
    .App{
        padding: 40px 30px
    }
}

.background{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -2;
    left: 0;
    top: 0;
    background: var(--background);
}

.content-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chapter{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    width: 100%;
}

.title{
    font-family: "JetBrains Mono", sans-serif;
    font-weight: 500;
    font-size: 40px;
}

@media (min-width: 1024px){
    .chapter{
        max-width: 62.5%;
    }
}

@media (max-width: 1023px) {
    .chapter{
        padding-top: 10vh;
        min-height: 40vh;
        gap: 30px;
    }

    .title{
        font-size: 30px;
    }
}

*{
     scroll-behavior: smooth;
 }